.qback_red .question-title-container {
  background: red;
}

.qback_orange .question-title-container {
  background: darkorange;
}

.qback_green .question-title-container {
  background: darkgreen;
}

