@use 'colors';

.qback_red .question-title-container {
  background: colors.$red;
}

.qback_orange .question-title-container {
  background: darkorange;
}

.qback_green .question-title-container {
  background: darkgreen;
}

